.parent
{
    align-self: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.div
{
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.text
{
    color: black;
}
.noResults
{
    color: black;
    justify-self: center;
    grid-column: 1 / span 4;
}